.App {
  display: inline-grid;
  grid-template-columns: auto auto;
}
.display {
  display: grid;
  grid-template-rows: auto auto;
  width: 700px;
  height: 400px;
  margin-top: 150px;
  margin-left: 250px;
  /*margin-right: 100px;
  margin-bottom: 150px; */
  /* border: 2px solid red; */
  font-size: 80px;
}

.header {
  margin-top: 100px;
  font-size: 100px;
}

.links {
  height: 50px;
  width:250px;
  margin-left: 15px;
  font-size: 30px;
  color: teal;
  /* border: 2px solid blue; */
  font-weight: bold;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover{
color: whitesmoke;
}
