.over{
  color: red;
}
.fix-grid {
  display: grid;
  grid-template-rows: auto auto;
  width: 515px;
  height: 600px;
  margin-top: 30px;
  margin-left: 100px;
  /* border: 2px solid green; */
}

.fix-grid1 {
  display: grid;
  grid-template-rows: auto auto;
  width: 515px;
  height: 600px;
  margin-top: 30px;
  margin-left: 100px;
  border: 2px solid green;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* margin: 100px; */
    /* border: 2px solid black; */
    width: 500px;
    height: 500px;
  
}
  
  .grid-item {
    border: 1px solid black;
    padding: 60px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
  
  }

  .hover:hover {
      background-color: lightblue;
  }

  .gsel {
    border: 1px solid black;
    background-color: seagreen;
    color: white;
    padding: 60px;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
  }

  .reset {
      padding: 20px;
      margin-top: 30px;
      border: none;
      width: 516px;
      background-color: indianred;
      font-size: 30px;
      color: white;
      /* margin-left: 100px; */
  }

  button:hover{
    opacity: 80%;
  }
